In [1]:
import numpy as np
import pandas as pd
import networkx as nx
from networkx.readwrite import json_graph as nx_json

# python setup.py develop
from axial import axial as ax

## Volcano

In [2]:
df = pd.read_csv('../docs/example/data/human_differential.csv', index_col=0)
df.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj,q,logFC
GeneID,,,,,,,,
TAGLN2,3702.951794,-2.954344,0.056286,52.488180,0.0,0.0,302.671,-2.954
UHMK1,3543.839403,-3.225018,0.067672,47.656533,0.0,0.0,302.671,-3.225
CSRP1,4592.587776,1.856967,0.046232,-40.165842,0.0,0.0,302.671,1.857
CAPN2,10417.715365,2.116233,0.045564,-46.445277,0.0,0.0,302.671,2.116
RHOB,10401.154292,-1.758295,0.045384,38.742385,0.0,0.0,302.671,-1.758

In [3]:
ax.volcano(df, output_dir="../docs/example/", data_mode="inline", version="latest")

PosixPath('/Users/alex/Documents/Axial/docs/example/volcano.html')

## Bar

In [4]:
df2 = pd.read_csv('../docs/example/data/ipsc_differential.csv', index_col=0)
df2.head()

,Base mean,log2(FC),StdErr,Wald-Stats,P-value,P-adj,q,logFC
GeneID,,,,,,,,
CTSF,530.623969,7.625389,0.305383,24.969883,1.298958e-137,3.458606e-133,132.46,7.63
AC006039.4,69.056857,2.395232,0.188938,12.677335,7.897114e-37,1.051343e-32,31.98,2.40
PRSS12,5631.132313,2.155079,0.171747,12.548020,4.075745e-36,3.617360e-32,31.44,2.16
SOX7,612.479651,2.390252,0.203622,11.738663,8.075288e-32,5.375316e-28,27.27,2.39
SLC1A6,345.256285,2.108443,0.181737,11.601616,4.043717e-31,2.153360e-27,26.67,2.11

In [5]:
ax.bar({'human':df,'ipsc':df2}, output_dir="../docs/example/", data_mode="inline", version="latest")

PosixPath('/Users/alex/Documents/Axial/docs/example/bar.html')

## Braid

In [6]:
df = pd.read_csv('../docs/example/data/human_counts.csv', index_col=0)
df.head()

,Human_ABCD1_1,Human_ABCD1_2,Human_ABCD1_3,Human_NT_1,Human_NT_2,Human_NT_3
DDX11L1,0.000,1.217,0.920,0.000,1.988,0.867
WASH7P,25.774,38.939,18.398,40.293,56.661,28.625
MIR6859-1,9.205,8.518,7.359,11.664,2.982,6.939
RP11-34P13.7,0.000,0.000,0.000,0.000,0.994,0.000
RP11-34P13.15,1.841,0.000,0.000,0.000,0.000,0.867

In [7]:
classes = pd.read_csv('../docs/example/data/human_classes.csv', index_col=0)
classes.head()

              system condition
Human_ABCD1_1  Human     ABCD1
Human_ABCD1_2  Human     ABCD1
Human_ABCD1_3  Human     ABCD1
Human_NT_1     Human        NT
Human_NT_2     Human        NT

In [8]:
ax.braid(df, classes, output_dir="../docs/example/", data_mode="inline", version="latest")

PosixPath('/Users/alex/Documents/Axial/docs/example/braid.html')

## Heatmap

In [9]:
df = pd.read_csv('../docs/example/data/human_counts.csv', index_col=0)
df.head()

,Human_ABCD1_1,Human_ABCD1_2,Human_ABCD1_3,Human_NT_1,Human_NT_2,Human_NT_3
DDX11L1,0.000,1.217,0.920,0.000,1.988,0.867
WASH7P,25.774,38.939,18.398,40.293,56.661,28.625
MIR6859-1,9.205,8.518,7.359,11.664,2.982,6.939
RP11-34P13.7,0.000,0.000,0.000,0.000,0.994,0.000
RP11-34P13.15,1.841,0.000,0.000,0.000,0.000,0.867

In [10]:
classes = pd.read_csv('../docs/example/data/human_classes.csv', index_col=0)
classes.head()

              system condition
Human_ABCD1_1  Human     ABCD1
Human_ABCD1_2  Human     ABCD1
Human_ABCD1_3  Human     ABCD1
Human_NT_1     Human        NT
Human_NT_2     Human        NT

In [11]:
ax.heatmap(df, classes, output_dir="../docs/example/", data_mode="inline", version="latest")

PosixPath('/Users/alex/Documents/Axial/docs/example/heatmap.html')

## Graph

In [12]:
nxgraph = nx.read_gpickle("../docs/example/data/nxgraph.pickle")

In [13]:
ax.graph(nxgraph, output_dir="../docs/example/", data_mode="inline", version="latest")

PosixPath('/Users/alex/Documents/Axial/docs/example/graph.html')